/* body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
} */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html
{
    /* max-width: 500px; */
    margin: auto;
    /* width: 70%;
    height: 100%; */
    margin: 10px;
    padding: 10px;
    overflow-x: hidden; 
}


body {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

a {
    color: #0fa1f6;
    text-decoration: none;
}

.collapse {
    margin:0;
}