<hr>
<h3># Contact</h3>
<a href="https://github.com/gerdm" target="_blank">github</a>,
<a href="https://scholar.google.com/citations?user=jVajee8AAAAJ&hl=en" target="_blank">scholar</a>,
<a href="https://twitter.com/grrddm" target="_blank">twitter</a>,
<a href="https://www.linkedin.com/in/grrddm/" target="_blank">linkedin</a>,
<a href="mailto:g.duran@me.com">g.duran@me.com</a>.

<canvas id="myCanvas" style="border:0px solid #d3d3d3;"></canvas>
<div style="text-align: right;"> grrddm @ {{ now.Year }} </div>
